h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	line-height: 36px;
}

a, p, label, span, li, th, td, dd, dt {
	font-family: 'Open Sans', sans-serif;
}

p {
	margin-bottom: 9px;
}

body {
	background: #eee;
}

header {
	margin: 0 auto;
	padding: 10px 0;
	width: 800px;
}

header h1 {
	font-size: 40px;
	font-weight: 800;
	text-align: center;
	margin: 30px 0;
}

header nav {
	background: white;
	padding: 15px 20px;
	margin: 15px 0;
}

header nav a {
	margin-right: 16px;
	color: #333;
	border-bottom: 1px #666 solid;
	
	font-size: 14	px;
	font-weight: bold;
	
	padding: 6px 10px;
	text-decoration: none;
}

header nav a.current {
	border-bottom: 2px #333 solid;
	padding: 6px 10px 5px;
}

header nav a:hover {
	color: #09f;
	border-bottom: 1px #0099ff solid;
}


section#main-matter {
	background: white;
	margin: 0 auto 20px;
	padding: 10px;
	width: 780px;
}

section#main-matter h1 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

section#main-matter h2 {
	border-bottom: 1px solid #333;
	font-weight: 700;
	margin-bottom: 10px;
}

section#main-matter ul {
	margin-bottom:20px;
	overflow:hidden;
	padding: 10px;
}

section#main-matter li {
	display:inline;
	float:left;
	line-height:1.5em;
	margin-bottom: 5px;
	width:50%;
}

section#main-matter li a {
	color: #08f;
}

section#main-matter li a:hover {
	background: #08f;
	color: white;
	text-decoration: none;
}

section#main-matter b {
	font-weight: 700;
}

section#main-matter table {
	font-size: 14px;
	margin: 20px 0;
	width: 100%;
}

section#main-matter table thead {
	border-bottom: 1px solid #777;
}

section#main-matter table thead tr th:not(:first-child):after {
	display: inline-block;
	content: "\00a0";
	font-size: 12px;
	width: 11px;
}

section#main-matter table thead tr th.down:after {
	content: "\25bc";
}

section#main-matter table thead tr th.up:after {
	content: "\25b2";
}

section#main-matter table thead tr th {
	font-weight: 700;
	padding-bottom: 5px;
	text-align: left;
	text-transform: uppercase;
}
section#main-matter table tbody tr {
	border-bottom: 1px solid #ccc;
}

section#main-matter table tbody tr:nth-child(odd) {
	background-color: #def;
}

section#main-matter table tbody tr:hover {
	background-color: #ffb;
	cursor: pointer;
}
section#main-matter table tbody tr td {
	padding: 10px 0;
}

section#main-matter table tbody tr {
	line-height: 18px;	
}

section#main-matter button {
}

form#login {
	display: block;
	margin: 0 auto;
	padding: 20px;
	width: 340px;
}

form#login span {
	background: #e40;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	color: white;
	display: block;
	font-size: 14px;
	font-weight: 800;
	margin-bottom: 10px;
	padding: 5px 20px;
	
	text-align: center;
	width: 100%-40px;
	
}

form#login input[type='text'], form#login input[type='password'], form#login select {
	float: right;
}

form#login label {
	float: left;
	line-height: 33px;
}

form#login button {
	display: block;
	float: right;
	padding: 8px 20px;
	margin: 10px 0;
}

form#login select {
	float: right;
	font-size: 16px;
	line-height: 20px;
	margin: 7px 0;
	outline: none;
	padding: 6px;
	width: 224px;
}


input[type='text'], input[type='password'] {
	border: 1px solid #999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 16px;
	line-height: 20px;
	outline: none;
	padding: 6px;
	width: 210px;
}
label.locked:after	 {
	content:'\1F512';
	
}
input[type='text']:disabled {
	background-color: #eee;
}

label {
	font-size: 14px;
	display: inline-block;
}

button {
	background: linear-gradient(to bottom, #a0d4ec 0%, #0f7bb5 100%) white;
	border: 1px solid #0f7bb5;
	color: #12628e;
	cursor: pointer;
	font-size: 14px;
	font-weight: 800;
	padding: 5px 10px;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-shadow: 0 1px 1px #a0d4ec;
}

button.red {
	background: linear-gradient(to bottom, #eca0a0 0%, #b50f0f 100%) white;
	border: 1px solid #b50f0f;
	color: #8e1111;
	text-shadow: 0 1px 1px #eca0a0;
}

button.red:active {
	background: linear-gradient(to bottom, #b50f0f 0%, #eca0a0 100%) white;
}

button:active {
	background: linear-gradient(to bottom, #0f7bb5 0%, #a0d4ec 100%) white;
}

input[type='password'] {
	color: purple;
}

.clear {
	clear: both;
}

::selection {
	background: rgb(111, 0, 255);
	color: white;
}

::-moz-selection {
	background: rgb(111, 0, 255);
	color: white;
}

.tabs a {
	background-color: #fff;
	border: 1px solid #666;
	border-bottom: 0;
	color: #000;
	cursor: pointer;
	padding: 5px;
}

.tabs a:hover, .tabs a.active{
	background: #666;
	color: #fff;
}

.tabContent{
	border: 1px solid #aaa;
	margin: 4px 0;
	padding: 5px;
}

section#main-matter textarea.questionnaire {
	height: 85px;
	width: 400px;
}

div.question{
	height: 150px;
}

div.radio{
	float: left;
	width: 250px;
}

div.justification{
	float: left;
}
